# Default values for lldap.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# This sets the container image more information can be found here: https://kubernetes.io/docs/concepts/containers/images/
image:
  repository: ghcr.io/lldap/lldap
  # This sets the pull policy for images.
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: ""

# This is for the secrets for pulling an image from a private repository more information can be found here: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
imagePullSecrets: []
# This is to override the chart name.
nameOverride: ""
fullnameOverride: ""

# This section builds out the service account more information can be found here: https://kubernetes.io/docs/concepts/security/service-accounts/
serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Automatically mount a ServiceAccount's API credentials?
  automount: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

# This is for setting Kubernetes Annotations to a Pod.
# For more information checkout: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/
podAnnotations: {}
# This is for setting Kubernetes Labels to a Pod.
# For more information checkout: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/
podLabels: {}

podSecurityContext:
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 1000
  fsGroup: 1000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

# This is for setting up a service more information can be found here: https://kubernetes.io/docs/concepts/services-networking/service/
service:
  # This sets the service type more information can be found here: https://kubernetes.io/docs/concepts/services-networking/service/#publishing-services-service-types
  type: ClusterIP
  # This sets the ports more information can be found here: https://kubernetes.io/docs/concepts/services-networking/service/#field-spec-ports
  ldap:
    port: 3890
  http:
    port: 17170

# -- Expose the service via gateway-api HTTPRoute
# Requires Gateway API resources and suitable controller installed within the cluster
# (see: https://gateway-api.sigs.k8s.io/guides/)
httpRoute:
  # HTTPRoute enabled.
  enabled: false
  # HTTPRoute annotations.
  annotations: {}
  # Which Gateways this Route is attached to.
  parentRefs:
  - name: gateway
    sectionName: http
    # namespace: default
  # Hostnames matching HTTP header.
  hostnames:
  - chart-example.local
  # List of rules and filters applied.
  rules:
  - matches:
    - path:
        type: PathPrefix
        value: /headers
  #   filters:
  #   - type: RequestHeaderModifier
  #     requestHeaderModifier:
  #       set:
  #       - name: My-Overwrite-Header
  #         value: this-is-the-only-value
  #       remove:
  #       - User-Agent
  # - matches:
  #   - path:
  #       type: PathPrefix
  #       value: /echo
  #     headers:
  #     - name: version
  #       value: v2

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

# This is to setup the liveness and readiness probes more information can be found here: https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/
livenessProbe:
  httpGet:
    path: /
    port: http

readinessProbe:
  exec:
    command:
      - "/app/lldap"
      - "healthcheck"
      - "--config-file"
      - "/config/lldap_config.toml"
  initialDelaySeconds: 10
  periodSeconds: 10
  timeoutSeconds: 1
  successThreshold: 1
  failureThreshold: 3

# Additional volumes on the output Deployment definition.
volumes: []
# - name: foo
#   secret:
#     secretName: mysecret
#     optional: false

# Additional volumeMounts on the output Deployment definition.
volumeMounts: []
# - name: foo
#   mountPath: "/etc/foo"
#   readOnly: true

nodeSelector: {}

tolerations: []

affinity: {}

strategy: {}
  # Deployment strategy
  # e.g.
  # type: Recreate

persistence:
  enabled: false
  accessModes:
    - ReadWriteOnce
  annotations: {}
  existingClaim: ""
  size: 1Gi
  storageClassName: ""
  volumeMode: ""
  selector: {}
  volumeName: ""

# External Secrets support for config file
externalSecrets:
  # set to enable to use External Secrets to populate lldap_config.toml
  enabled: false
  refreshPolicy: "Periodic"
  refreshInterval: "1h"
  secretStoreRef:
    name: my-secret-store
    kind: SecretStore
  data: []

config:
  # details in https://github.com/lldap/lldap/blob/main/lldap_config.docker_template.toml
  verbose: false
  ldap_host: "0.0.0.0"
  ldap_port: 3890
  http_host: "0.0.0.0"
  http_port: 17170
  # http_url: ""
  assets_path: "./app"
  # jwt_secret: ""  # don't use this one
  ldap_base_dn: "dc=example,dc=com"
  ldap_user_dn: "admin"
  ldap_user_email: "admin@example.com"
  # ldap_user_pass: ""  # don't set one here...
  force_ldap_user_pass_reset: false
  database_url: "sqlite:///data/users.db?mode=rwc"
  # key_file: ""  # prefer key_seed, but uncomment to silence warning
  # key_seed: "a random string, preferably at least 32 characters long"
  ignored_user_attributes: []
  ignored_group_attributes: []
  smtp_options: {}
  #  enable_password_reset: false
  #  server: ""
  #  port:
  #  smtp_encryption: "TLS"
  #  user: ""
  #  password: ""
  #  from: ""
  #  reply_to: "Do not reply <noreply@localhost>"
  ldaps_options: {}
  #  enabled: false
  #  port: 6360
  #  cert_file: ""
  #  key_file: ""
